<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  {{{body}}}
  <div id="content"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/scripts.js"></script>
</body>
</html>