* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #151515;
  margin: auto;
  padding: 0;
}

#content {
  margin: auto;
  width: 600px;
}

.image-container {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  background-color: #ddd;
  border-top: 12px solid #2FCEFA;
}

img, video {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#nav {
  background-color: #111;
  margin: 0;
  padding: 10px;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #888;
  outline: 0;
}

a:hover, a:active {
  text-decoration: none;
  color: #2FCEFA;
}

a.selected {
  color: #2FCEFA;
}

#loading {
  margin-top: 40px;
}

.title-container {
  font-size: 12px;
  padding: 12px 8px 8px 12px;
  color: #2FCEFA;
  background-color: #111;
}

.permalink-container {
  font-size: 11px;
  padding-left: 12px;
  padding-bottom: 8px;
  color: #2FCEFA;
  background-color: #111;
}
